:css
  .paginator .current-page {
    font-weight: bold;
    font-size: 120%;
  }
  .pager {
    display: inline-block;
  }

%h2 Trending Tracks


%h2 Users

%ul
  - @users.each do |user|
    %li
      %a{href: "/hype_user?user_name=#{user["name"]}"}
        = user["name"]

- if @pending_users.present?
  %h4 Pending Users

  %ul
    - @pending_users.each do |user, num_jobs|
      %li
        #{user} - #{num_jobs} pending

%h3 Add User
%form{ action: "/submit_user_job", method: "post"}
  %label
    Username
  %input{name: "username"}
  %br
  %input{type: "submit"}
